.content {
	min-width: 300px;
}
.booking_form{
	max-width: 500px;
	padding: 20px 12px 10px 20px;
	font: 13px var(--primary-font-family);
}
.booking_form-heading{
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid var(--color-alto);
	margin-bottom: 20px;
	font-size: 15px;
	padding-bottom: 3px;
}
.booking_form label{
	display: block;
	margin: 0px 0px 15px 0px;
}
.booking_form label > span{
	width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
.booking_form span.required{
	color:var(--color-red);
}
.booking_form input.input-field, .booking_form .select-field{
	width: 48%;	
}
.booking_form input.input-field,
.booking_form .textarea-field, 
 .booking_form .select-field{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid var(--color-silver);
	box-shadow: 1px 1px 4px var(--color-gallery);
	-moz-box-shadow: 1px 1px 4px var(--color-gallery);
	-webkit-box-shadow: 1px 1px 4px var(--color-gallery);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}
.booking_form .input-field:focus, 
.booking_form .textarea-field:focus,  
.booking_form .select-field:focus{
	border: 1px solid var(--color-green);
}
.booking_form .textarea-field{
	height:100px;
	width: 55%;
}
.booking_form input[type=submit],
.booking_form input[type=button]{
	border: none;
	padding: 8px 15px 8px 15px;
	background: var(--color-flush-orange);
	color: var(--color-white);
	box-shadow: 1px 1px 4px var(--color-alto);
	-moz-box-shadow: 1px 1px 4px var(--color-alto);
	-webkit-box-shadow: 1px 1px 4px var(--color-alto);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.booking_form input[type=submit]:hover,
.booking_form input[type=button]:hover{
	background: var(--color-mango-tango);
	color: var(--color-white);
}