html, body, h1, h2, p {
	margin: 0;
	padding: 0;
	font-family: var(--primary-font-family);
	font-size: var(--medium-size);
	font-display: swap;
}
html, body {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.scroll-container {
	overflow-y: auto;
	overflow-x: hidden;
	flex: 1;
	display: flex;
	flex-direction: column;
}
.covid-banner {
	background-color: var(--primary-bg-color);
	color: var(--color-white);
	text-align: center;
	padding: 10px 0;
}

a {
	text-decoration: none;
	color: var(--color-mercury);
}

main {
	flex: 1;
	color: var(--color-mako);
	text-align: center;
}

.container {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

main .container {
	margin-top: 80px;
	margin-bottom: 80px;
}

.highlight {
	color: var(--ternary-font-color);
	font-family: var(--secondary-font-family);
	text-transform: none;
	font-size: var(--regular-size-5x);
}

.divider .highlight {
	color: var(--secondary-font-color);
}
.area {
	letter-spacing: 15px;
	margin-top: -30px;
	font-weight: 900;
	font-size: var(--regular-size-3x);
	text-transform: uppercase;
}

.content {
	box-sizing: border-box;
	padding: 40px;
	width: 50%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}

.container .area {
	letter-spacing: 10px;
}

.content a{
	color: var(--color-mako);
	text-transform: uppercase;
	font-size: var(--small-size);
	padding-bottom: 2px;
	border-bottom: 2px solid var(--color-mako);
	width: fit-content;
	text-align: center;
	margin: 30px auto 0;
}

.content h2 {
	margin-top: 20px;
}

.content p:nth-of-type(2) {
	line-height: 1.8;
}

.symbol {
	color: var(--ternary-font-color);
	font-size: var(--regular-size-2x);
	margin-top: 20px;
	margin-bottom: 20px;
}

.img_container {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

section img {
	width: 100%;
	min-width: 300px;
}

.align_end {
	align-self: end;
}

.align_start {
	align-self: start;
}

.divider {
	height: 500px;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}

.divider .area {
	color: var(--primary-font-color);
}

@media all and (max-width: 700px) {
	main .container {
		margin-top: 20px;
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%
	}
	.content, .img_container {
		width: calc(100% - 40px);
    padding: 40px 0;
    gap: 5px !important;
    margin: 20px;
	}
	.divider {
		height: 400px;
	}
	.area, .symbol, .highlight {
		font-size: var(--regular-size-2x);
	}
}

/* Header */

header {
	background-color: var(--primary-bg-color);
	height: 75px;
}
nav {
	font-size: var(--regular-size);
}

nav a {
	margin: 0 10px;
	padding-bottom: 3px;
}

nav a:nth-of-type(5) {
	margin-right: 0;
}

nav a.active {
	border-bottom: 2px solid var(--color-mercury);
}

.header_container {
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
	box-sizing: border-box;
	transition: all .1s ease-in-out;
	border-bottom: 4px solid linear-gradient(to bottom, var(--primary-bg-color), transparent); ;
	width: 100%;
	padding: 10px 40px;
	height: 75px;
}

/* Hamburger Menu (continued in the media queries section) */

.menu_icon {
	display: none;
	cursor: pointer;
}

.linear-gradient {
	width: 100%;
	height: 200px;
	background: linear-gradient(to bottom, var(--color-white), transparent);
}

#logo {
	color: var(--color-mercury);
	font-size: var(--regular-size-4x);
}


@media all and (max-width: 700px) {
	
	nav {
		display: none;
	}
	
	.menu_icon.show{
		display: block;
		z-index: 5;
	}
	
	#logo {
		z-index: 5;
	}
	
	.header_container.show_menu {
		width: 100%;
		height: 100vh;
		padding: 10px 40px;
		z-index: 5;
		transition: none;
		border-bottom: none;
		background-color: var(--color-opac-black);
		align-items: flex-start;
	}
	
	nav.show_menu { 
		position: absolute;
		height: 100vh;
		width: 100vw;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		margin: -10px 0 0 -40px;
		font-size: var(--regular-size-3x);		
	}
	
	nav.show_menu a {
		margin-bottom: 10px;
	}
	
	nav.show_menu a:nth-of-type(5) {
		margin-right: 10px;
	}

}

@media all and (min-width: 768px) and (max-width: 990px) {
	main .container {
		margin-top: 40px;
		margin-bottom: 40px;
	}
}

/* Footer */
footer {
	background-color: var(--primary-bg-color);
	color: var(--primary-font-color);
	line-height: 2;
	position: relative;
}

#contact {
	display: flex;
	justify-content: space-between;
	min-height: 200px;
}

#contact h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: var(--medium-size);
}

#contact p {
	font-size: var(--regular-size);
}

#contact > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact_details {
	width: 50%;
}
.opening_hours {
	width: 35%;
}

.inner_container {
	margin-top: 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	font-size: var(--regular-size);
	font-style: normal;
}

.copyright_container {
	width: 100%;
	padding: 10px 0;
	align-items: center;
	justify-content: center;
	display: flex;
}

.copyright_container p {
	font-size: var(--regular-size);
	text-align: center;
}

@media all and (max-width: 700px) {
	#contact, .inner_container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.inner_container  {
		width: 100%;
	}
	#contact > div {
		width: 100%;
		margin: 20px auto 0;
		text-align: center;
	}
	
	.inner_container > div {
		padding-right: 30;
		padding-top: 10px;
	}
}

@media all and (max-width: 990px) {
	.copyright p {
		font-size: var(--regular-size);
	}
	
	.copyright {
		flex-flow: column nowrap;
		padding: 25px 0;
	}
	
	.copyright div {
		width: 80%;
		text-align: center;
	}
}

/* Social Icons */

.social_icon_container {
  display: block;
  overflow: visible;
  padding: 0 0 100%;
  position: relative;
  height: 0;
  width: 100%;
}

.social_icon_container > * {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.social {
  font-size: 0.2em;
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.social li {
  display: inline-block;
  margin: 1rem;
}
.social a, .social svg {
  display: block;
}
.social a {
  height: 30px;
  width: 30px;
}

.youtube:hover,
.twitter:hover,
.pinterest:hover, 
.linkedin:hover, 
.instagram:hover, 
.facebook:hover {
  border-radius: 100%;
  fill: #0e1a25;
  transform: scale(1.25);
  transition: background-color 0.5s, transform 0.5s ease-out;
}
.facebook {
  fill: var(--color-facebook);
}
.facebook:hover {
  background: var(--color-facebook);
}

.instagram {
  fill: #26d9d9;
}
.instagram:hover {
  background: #26d9d9;
}

.linkedin {
  fill: #2691d9;
}
.linkedin:hover {
  background: #2691d9;
}
.pinterest {
  fill: #2626d9;
}
.pinterest:hover {
  background: #2626d9;
}
.twitter {
  fill: #d926b5;
}
.twitter:hover {
  background: #d926b5;
}

.youtube {
  fill: #d9266e;
}
.youtube:hover {
  background: #d9266e;
}

/* Safari and Chrome */
@-webkit-keyframes rotating  {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 30s linear infinite;
  -moz-animation: rotating 30s linear infinite;
  -ms-animation: rotating 30s linear infinite;
  -o-animation: rotating 30s linear infinite;
  animation: rotating 30s linear infinite;
}
